@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 95%; /* #e7f3ff */
    --foreground: 210 10% 23%;
    --card: 210 100% 98%;
    --card-foreground: 210 10% 23%;
    --popover: 210 100% 98%;
    --popover-foreground: 210 10% 23%;
    --primary: 209 75% 53%; /* #3091e0 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 90%;
    --muted-foreground: 210 8% 45%;
    --accent: 188 71% 53%; /* #30c9e0 */
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 210 40% 85%;
    --ring: 209 75% 53%;
    --chart-1: 209 75% 53%;
    --chart-2: 188 71% 53%;
    --chart-3: 209 60% 65%;
    --chart-4: 188 60% 65%;
    --chart-5: 209 50% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 20% 10%;
    --foreground: 210 40% 98%;
    --card: 210 20% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 210 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 209 75% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 15% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 15% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 188 71% 53%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 15% 25%;
    --input: 210 15% 25%;
    --ring: 209 75% 53%;
    --chart-1: 209 75% 53%;
    --chart-2: 188 71% 53%;
    --chart-3: 209 60% 65%;
    --chart-4: 188 60% 65%;
    --chart-5: 209 50% 75%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
